*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

.header{
    height: 75px;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.header__center{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icon2{
    margin-left: 41px;
}
.icon4{
    margin-left: 33px;
    margin-right: 33px;
}
.main1{
    
}

.fetured_items{
    margin-top: 96px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   margin-bottom: 47px;
}
.text_fetured_items span{
    font-size: 14px;
    color: #9F9F9F;
    width: 336px;
}
.hero_center{
    width: 1140px;
    margin: 0 auto;
    display: flex;
}
.hero_img{
    margin-left: -227px;
}
.hero_left{
    width: 50%;
}
.hero_right{
    width: 50%;
    height: 92px;
    margin-top: 290px;
    margin-left: 64px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    font-family: Lato;
}
.section__offer{
    background: #fff;

}
.section__hero{
    height: 764px;
    background-color: #F1E4E6;
}
.section__offer{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    margin-top: 65px;

}
.offer_row{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.fetured_items_center{
    width: 1140px;
    margin: 0 auto;
    display: flex;
}

.fetured_items_row{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.row1, .row2, .row3{
    
width: 360px;
height: 420px;
}
.row1{
    background-image: url(img/man2.png);
}
.row2{
background-image: url(img/man3.png);
}
.row3{
background-image: url(img/women.png);
}
.offer_low1, .offer_low2,.offer_low3{
    color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 360px;
    font-family: Lato;
    height: 260px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/l1.png) ;
}
.offer_low2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/l2.png) ;
}
.offer_low3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/l3.png) ;
}

.offer_big{
    color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 1140px;
    font-family: Lato;
    height: 190px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/big.png);
}


.section__feature{
    margin-top: 96px;
    height: 341px;
    background: #222222;
}
.offer1_txt span{
    color: #F16D7F;
    font-size: 24px;
}
.offer4_txt span{
    color: #F16D7F;
    font-size: 24px;
}
.offer2_txt span{
    color: #F16D7F;
    font-size: 24px;
}
.offer3_txt span{
    color: #F16D7F;
    font-size: 24px;
}
.feature_text1{
    font-size: 48px;
    font-weight: 900;
}
.hero_p_big{
    font-size: 48px;
    font-weight: 900;
}
.feature_text1{
    font-size: 30px;
    font-weight: 900;
}
.hero_p_small{
    font-size: 32px;
    font-weight: 700;
}
.hero_p_small span{
   color: #F16D7F;
}
.font1{
   margin-top:289px;
   margin-bottom: 381px;
}
.footer{

}
.footer__subscribe{
    height: 448px;
    background: #E1E1E1;
}
.footer__bottom{
    height: 79px;
    background-color: #222;
}